# python: interactive/kernel (for notebooks)
ipython
ipykernel
ipywidgets
nbconvert
nbformat
# data science
numpy==2.3
scipy==1.16
pandas==2.3
pyarrow
fastparquet
shortuuid==1.0
scikit-learn==1.8
# visualization
plotly==6.3
dash==4.0
kaleido==1.0
matplotlib==3.10
tabulate
# machine lerarning
torch==2.7
lightning==2.5
torchinfo==1.8
tensorboard==2.20
tensorflow==2.20
pythae
# network
slurm-requests>=0.0.2